<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISA.Toko.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ISA.Trading.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ISA.Toko.Properties.Settings.ISADbDepoNonRetailConnectionString"
            connectionString="Data Source=172.16.10.240;Initial Catalog=ISADbDepoNonRetail;Persist Security Info=True;User ID=sa;Password=Server08"
            providerName="System.Data.SqlClient" />
        <add name="ISA.Toko.Properties.Settings.ISAFinanceConnectionString"
            connectionString="Data Source=.;Initial Catalog=ISAFinance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ISA.Toko.Properties.Settings.ISADBDepoFinanceConnectionString"
            connectionString="Data Source=172.16.10.230,1102;Initial Catalog=ISADBDepoFinance;User ID=sa;Password=dotnet10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ISA.Toko.Properties.Settings>
            <setting name="AppFont" serializeAs="String">
                <value>Courier New, 8.25pt</value>
            </setting>
            <setting name="DBFUpload" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="DBFDownload" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="SASdb" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>JKTDEV</value>
            </setting>
            <setting name="DBFinance" serializeAs="String">
                <value>ISADBDepoFinance</value>
            </setting>
        </ISA.Toko.Properties.Settings>
        <ISA.Trading.Properties.Settings>
            <setting name="AppFont" serializeAs="String">
                <value>Courier New, 8.25pt</value>
            </setting>
            <setting name="DBFUpload" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="DBFDownload" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="SASdb" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>JKTDEV</value>
            </setting>
            <setting name="DBFinance" serializeAs="String">
                <value>ISAFinance</value>
            </setting>
        </ISA.Trading.Properties.Settings>
    </userSettings>
</configuration>