<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISA.AutoSynch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISA.AutoSynch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ISA.AutoSynch.Properties.Settings>
            <setting name="FTPName" serializeAs="String">
                <value>ftp://fileserver.sas-autoparts.com/</value>
            </setting>
        </ISA.AutoSynch.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://117.20.56.212:8181/AutoSynchMonitoring/Service1.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service1Soap"
                contract="ServiceReference1.Service1Soap" name="Service1Soap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ISA.AutoSynch.Properties.Settings>
            <setting name="smtp" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtplogin" serializeAs="String">
                <value>tss.palur.sas@gmail.com</value>
            </setting>
            <setting name="smtppassword" serializeAs="String">
                <value>tss.palur</value>
            </setting>
            <setting name="UserNameFTP" serializeAs="String">
                <value>isalive</value>
            </setting>
            <setting name="PassFTP" serializeAs="String">
                <value>isalive12345</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GoogleDrive" serializeAs="String">
                <value>D:\ISAEceranApp\Dropbox\Release Program</value>
            </setting>
            <setting name="DirTemp" serializeAs="String">
                <value>D:\ISAEceranApp\ReleaseTemp</value>
            </setting>
            <setting name="DirMFinance" serializeAs="String">
                <value>D:\ISAEceranApp\ISAEceranFinance</value>
            </setting>
            <setting name="DirPFinance" serializeAs="String">
                <value>C:\temp\ISACabangFinance\ISA.Finance.exe</value>
            </setting>
            <setting name="DirMtrading" serializeAs="String">
                <value>D:\ISAEceranApp\ISAEceranTrading</value>
            </setting>
            <setting name="DirPTrading" serializeAs="String">
                <value>C:\temp\ISACabangTrading\ISA.Trading.exe</value>
            </setting>
            <setting name="DirMBengkel" serializeAs="String">
                <value>D:\ISAEceranApp\ISAEceranBengkel</value>
            </setting>
            <setting name="DirPBengkel" serializeAs="String">
                <value>C:\temp\ISACabangBengkel\ISA.Bengkel.exe</value>
            </setting>
            <setting name="IPSQL" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="UserSQL" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PassSQL" serializeAs="String">
                <value>dotnet1</value>
            </setting>
            <setting name="enableSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRelease" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSetoran" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DirBackUp" serializeAs="String">
                <value>E:\backup</value>
            </setting>
            <setting name="DataBackup" serializeAs="String">
                <value>True</value>
            </setting>
        </ISA.AutoSynch.Properties.Settings>
    </userSettings>
</configuration>